<h1><i>THE</i>KnightClub</h1>
<h4>Log In</h4>

{{#if error}}
  <p>{{error}}</p>
{{/if}}

<form method="post" action="/login">
  <div class="row">
    <div class="medium-6 columns">
      <label>Username
        <input type="text" name="username" placeholder="username">
      </label>
    </div>
    <div class="medium-6 columns">
      <label>Password
        <input type="password" name="password" placeholder="password">
      </label>
    </div>
  </div>
  <div class="row">
    <input type="submit" class="button" value="Login">
  </div>
</form>
